# Ignore data directories
data/

# Ignore environment folders
envs/

# Ignore models and model-related directories
models/
model_notebooks/
models_crossvalidation/
OneFoldCV_Models/
OneFoldCV_Models_v2/
OneFoldCV_Models_v3/
OneFoldCV_Models_v4/
OneFoldCV_models_vel2/
LOO_CV_models/
LOO_CV_models_v2/
